* {
  margin: 0px;
}

body {
  background-color: black;
}

input:not(.radio) {
  display: block;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 10px;
}

/* -------- ESTILO STICKY HEADER -------- */

.stickyHeader {
  background-color: gray;
}

.itemsNav {
  text-transform: uppercase;
}

.header__links {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 20%);
}

.header__title {
  text-shadow: 1px 2px 2px rgb(0 0 0 / 20%);
}

/* -------- ESTILO SECCION PRINCIPAL INDEX -------- */
.main{
 display: flex;
 justify-content: center;
}

.imagenPrincipal {
  width: 40%;}

.h1Principal {
  font-family: 'Roboto', sans-serif;
  margin: 65px;
  color: silver;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 79%);
  position: absolute;
  top: 17vw;
  left: 32vw;
  z-index: 2;

  -webkit-animation: fadeIn 3s ease;
          animation: fadeIn 3s ease; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(80px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(100px);
  }
}


h2 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  margin: 30px;
  color: white;
  z-index: 1;
} 

/* -------- ESTILO DE AREA DE BUSQUEDA -------- */


.btnFiltrar {
  position: absolute;
  bottom: 15vw;
  left: 32vw;
  width: 100px;
  background-color: gray;
  color: white;
  text-transform: uppercase;
}

.busqueda {
  position: absolute;
  bottom: 15vw;
  left: 40vw;
  width: 420px;
}

/* -------- ESTILO SECCION PRODUCTOS -------- */

.seccionProductos {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  background-color: black;
  width: 80%;
  min-height: 400px;
  max-height: 725px;
  overflow: auto;
  margin: 50px 100px 50px 100px;
}

.card {
  margin: 5px;
  transition: transform 300ms ease-out;
  background-color: black;
  color: white;
}
.card:hover {
  transform: scale(1.05);
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-group{
  align-items: center;
}

.list-group-item{
  background-color: black;
  color: white;
}
/* -------- ESTILO FORMULARIO DE CONTACTO -------- */


.seccionFormularioDeContacto {
  height: 400px;
  background-color: white;
}

.formularioDeContacto input {
  width: 300px;
  margin: 4px;
}

.mensajeDeUsuario {
  width: 100%;
  height: 200px;
}


/* -------- ESTILO DE AGREGAR PRODUCTOS -------- */

.crm {
  display: none;
}




/* -------- ESTILO PAGINA PRODUCTOS -------- */


.h1Productos {
  padding: 25px;
  color: whitesmoke;
}

/* -------- ESTILO FILTRO -------- */


.filtro {
  height: 500px;
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: grey;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.camposFiltro {
  padding: 20px;
  color: white;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;

}

.desdeYhasta {
  display: flex;
}

.desde {
  width: 120px ;
  margin: 2px;
}

.hasta {
  width: 120px;
  margin: 2px;
}

.filtroPropiedades {
  min-height: 600px;
}


/* -------- SCROLLBAR  -------- */


::-webkit-scrollbar-track {
  background-color: transparent
}
::-webkit-scrollbar-thumb  {
  background-color: #FF9900;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #313133
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px
}
::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px
}